#root {
  max-width: 1280px;
  margin: 0;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #3b82f6;
  display: inline-block;
  margin-right: 10px;
}

.certificate-card {
  background-color: #1e293b;
  border-radius: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 0;
}

.certificate-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
}

.certificate-card .img-wrapper {
  overflow: hidden;
}

.certificate-card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: none;
}

.certificate-card:hover img {
  transform: none;
}

.certificate-card .badge {
  background-color: #3b82f6;
  font-size: 0.75rem;
}

.certificate-card .card-text {
  /* color: black; */
  font-size: 0.9rem;
  line-height: 1.6;
  opacity: 0.9;
}

.text-secondary {
  text-align: start;
}

.mb-3 .form-control::placeholder {
  color: gray;
  opacity: 1;
}

.mb-4 .form-control::placeholder {
  color: gray;
  opacity: 1;
}
